/*
#photo-area.viewport {
  height: 288px;
}

#photo-area.viewport canvas, video {
  float: left;
  height: 288px;
}

#photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -352px;
}
*/
